# Ethereum Mainnet
MAINNET_PK = "0xXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" 
MAINNET_SIGNER_PK = "0xXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" 
MAINNET_ALCHEMY_AK = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

# Sepolia Testnet
SEPOLIA_ALCHEMY_AK = "Mra_M9pdMYNHguE4nF3oR"
SEPOLIA_PK_ONE = "817e4bcea03050da704728ea67371fed58514322fc7443f8c11228ccdc2a789a" 
SEPOLIA_PK_TWO = "b57d4da44a233bb97123530df151d7acef8c16f4e6cfd06485212fe10ad7e56d"
